.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    width: 100px;
}

.nav-items {
    padding: 0 20px;
}

.nav-items > ul {
    font-size: 24px;
    display: flex;
    list-style-type: none;
}

.nav-items > ul > a {
    padding: 10px;
    margin: 10px;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.res-card {
    width: 200px;
    padding: 5px;
}

.res-card:hover {
    border: 1px solid black;
    cursor: pointer;
}

.filter {
    display: flex;
    gap: 2rem;
}

.search {
    padding: 10px;
    display: flex;
    gap: 5px;
}

.res-logo {
    width: 100%;
}

.filter-btn {
    margin: 10px;
    cursor: pointer;
}

.shimmer-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.shimmer-card {
    width: 200px;
    height: 400px;
    background-color: #f0f0f0;
}

.login-btn {
    padding: 10px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid black;
    border-radius: 10px;
}

.menu {
    display: flex;
    flex-direction: column;
}